<section class="features padtop100 padbtm100"><!--how its work-->
            <section class="container">
                <h2 class="title padbtm60">Features</h2>
                <section class="feat-left">
                    <section class="work-box padtop30">
                        <a href="#">
                            <span class="allwork calendar"></span>
                            <section class="clearfix"></section>
                            <h4>Business Owner</h4>
                            <p>Your commercial or industrial property might benefit from installing solar, and we would love to show you how. Our unique marketplace approach can help you get the best deal for your bottom line.<span class="block">Learn more...</span></p>
                        </a>
                    </section>
                    <section class="work-box padtop40">
                        <a href="#">
                            <span class="allwork noti"></span>
                            <section class="clearfix"></section>
                            <h4>Solar Agents</h4>
                            <p>As your client's trusted advisor, you now have tools available to help them see how they can take control of their rising energy costs. <span class="block">Learn more...</span></p>
                        </a>
                    </section>
                </section>
                <section class="feat-center text-center hidden-xs"> <img src="./assets/img/03.jpg" class="img-responsive" alt=""></section>
                <section class="feat-right">
                    <section class="work-box padtop30">
                        <a href="#">
                            <span class="allwork download"></span>
                            <section class="clearfix"></section>
                            <h4>Download App</h4>
                            <p>Solarsitedesign is the new way to find solar marketplace projects.Download now on the App Store and Google play. <span class="block">Learn more...</span></p>
                        </a>
                    </section>
                    <section class="work-box padtop40">
                        <a href="#">
                            <span class="allwork globe"></span>
                            <section class="clearfix"></section>
                            <h4>Fulfillment Partners</h4>
                            <p>Looking to lower your customer acquisition costs for your solar business? Find out how our programs can help. <span class="block">Learn more...</span></p>
                        </a>
                    </section>
                </section>
                <section class="feat-center text-center visible-xs"> <img src="./assets/img/Home-User/feat-img.png" class="img-responsive" alt=""></section>
                <div class="clearfix"></div>
                <section class="video-btn col-sm-12 padtop50"><a href="#" class="peach-btn"><i class="fa fa-play-circle" aria-hidden="true"></i> View videos of the software</a></section>
            </section>
        </section>
        <section class="clearfix"></section>