<div class="container">
    <div class="row">
        <!-- Start C&I solar projects panel -->
        <div class="col-lg-6">
    	   <div class="panel panel-primary">
                <div class="panel-heading">My C&I Solar Projects</div>
                <div class="panel-body"> 
					<div *ngFor="let MarketProject of this.marketplace">
                        <div class="well shadow-z-1">
            			    <div class="media">
                			    <div class="media-body">
                    			     <div class="col-lg-9 padding-left-0">
                        			     

                                    <h5 class="media-heading view-link"><div (click)="project_detail(MarketProject.MarketplaceProject.id)" style="cursor: pointer;color: #EF7C38">{{MarketProject.MarketplaceProject.project_name}}</div> </h5>


                    				</div>
                    				<div class="col-lg-3 text-center panel-link">{{MarketProject.MarketplaceProject.project_size}} W </div>
									<div class="col-lg-12 padding-left-0">
										<ul class="list-inline list-unstyled">
                        					<span><i class="fa fa-map-marker" aria-hidden="true"></i></span><li><h6>{{MarketProject.MarketplaceProject.city}}, {{MarketProject.MarketplaceProject.state}}</h6></li>
                        				</ul>
                    				</div>
								</div>
            				</div>
        				</div>
        			</div>
                </div>
                <div *ngIf="marketplaceLength==0">
                        No record found
                </div>
                <div class="panel-footer panel-footer-button text-right view-link">
                    <a [routerLink]="['/users/mysolarprojects']">View More...</a>
                </div>
            </div>
		</div>
        <!-- End C&I solar projects panel -->



            <!-- Start Track Project projects panel -->
            <div class="col-lg-6">
    		    <div class="panel panel-primary">
                    <div class="panel-heading">Tracked Project Listing</div>
                    <div class="panel-body"> 
						<div *ngFor="let TrackProject of this.trackproject">
                    		<div class="well shadow-z-1">
            					<div class="media">
                					<div class="media-body">
				                    	<div class="col-lg-9 padding-left-0">
				                        	
                                            <h5 class="media-heading view-link"><div (click)="project_detail(TrackProject.MarketplaceProject.id)" style="cursor: pointer;color: #EF7C38">{{TrackProject.MarketplaceProject.project_name}}</div> </h5>


				                    	</div>
				                    	<!--<div class="col-lg-3 text-center panel-link"></div>-->
										<div class="col-lg-12 padding-left-0">
											<ul class="list-inline list-unstyled">
                        						<span><i class="fa fa-map-marker" aria-hidden="true"></i></span><li><h6>{{TrackProject.MarketplaceProject.city}}, {{TrackProject.MarketplaceProject.state}}</h6></li>
                        					</ul>
                    					</div>
									</div>
            					</div>
        					</div>	
        				</div>	
					</div>
                     <div *ngIf="trackProjectLength==0">
                        No record found
                </div>
    				<div class="panel-footer panel-footer-button text-right view-link">
                        <a [routerLink]="['/users/mytrackedprojects']">View More...</a> 
                    </div>
				</div>
			</div>
            <!-- End Track Project projects panel -->

            <!-- Start Market listing panel -->
            <div class="col-lg-6">
    			<div class="panel panel-primary">
                	<div class="panel-heading">My Markets</div>
                    <div class="panel-body"> 
						<div *ngFor="let Market of this.markets">
                    		<div class="well shadow-z-1">
            					<div class="media">
                					<div class="media-body">
				                    	<div class="col-lg-8 padding-left-0">
				                        	<h5 class="media-heading view-link" style="color: #EF7C38;">{{Market.User.company_name}}</h5> 
				                    	</div>
				                    	<div class="col-lg-4 text-center panel-link">{{Market.Market.created|date:'mediumDate'}}</div>
                                        <!--<div class="col-lg-4 text-center panel-link">{{Market.Market.created}}</div>-->
										<div class="col-lg-12 padding-left-0">
											<ul class="list-inline list-unstyled">
                        						<span><i class="fa fa-map-marker" aria-hidden="true"></i></span><li><h6>{{Market.Market.city}}, {{Market.Market.state}}</h6></li>
                        					</ul>
                    					</div>
									</div>
            					</div>
        					</div>	
        				</div>	
					</div>
                     <div *ngIf="marketLength==0">
                        No record found
                </div>
    				<div class="panel-footer panel-footer-button text-right view-link">
                    <a [routerLink]="['/users/marketlisting']">View More...</a> |
                    <a [routerLink]="['/users/addmarket']">Add Market...</a>
                    </div>
				</div>
			</div>
            <!-- End Market listing panel -->

            <!-- Start My Market Map -->
           <!-- <div class="col-lg-6">
    			<div class="panel panel-primary">
                	<div class="panel-heading">My Market Map</div>
                    <div class="panel-body">
						<div class="well shadow-z-1" style="height: 518px;">
            					<div class="media">
                					<div class="media-body">
                    					<div class="col-lg-9 padding-left-0">
                        					<div id="map" class="mapping" style="width:400px;height: 475px;"></div>
                                        </div>
                    				</div>
            					</div>
        					</div>
        				</div>
                	<div class="panel-footer panel-footer-button text-right view-link"><a href="#"></a></div>
            	</div>
			</div>-->
        </div>
	</div>


