<div class="container">
    <div class="row">
        <div class="col-lg-12">
           <div class="panel panel-primary">
                <div class="panel-heading">Project</div>
                <div class="panel-body"> 
                    <div class="well shadow-z-1" style="height: 50px;">
                        <div class="media">
                            <div class="media-body">
                                <div class="col-lg-9 padding-left-0">
                                    <h4 class="media-heading view-link" *ngIf="result">{{result.data.MarketplaceProject.project_name}}</h4> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start C&I solar projects panel -->
        <div class="col-lg-6">
    	   <div class="panel panel-primary">
                <div class="panel-heading">Project Data</div>
                <div class="panel-body"> 
					<div class="well shadow-z-1" style="height: 300px;">
            			<div class="media">
                		    <div class="media-body">
                    		    <div class="col-lg-9 padding-left-0" style="margin-bottom: 15px;">
                        			     <h5 class="media-heading view-link" >Project Stage:</h5> 
                    			</div>
                    			<div class="col-lg-3 text-center" *ngIf="result">{{result.data.MarketplaceProject.stage}}</div>
                                <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                    <h5 class="media-heading view-link">Project Name:</h5> 
                                </div>
                                <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.project_name}}</div>
                                <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Project Originator Name:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.contact_name}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Project Originator Email:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.contact_email}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Project Originator Phone:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.contact_phone}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Project Street Address:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.address}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">City, State, Zip Code, Country:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.city}}</div>


									
								</div>
            				</div>
        				</div>
        			
                </div>
                
            </div>
		</div>
        <!-- End C&I solar projects panel -->


        <!-- Start C&I solar projects panel -->
        <div class="col-lg-6">
           <div class="panel panel-primary">
                <div class="panel-heading">Installation Data</div>
                <div class="panel-body"> 
                    
                        <div class="well shadow-z-1" style="height: 480px;">
                            <div class="media">
                                <div class="media-body">
                                     <div class="col-lg-9 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Project Size:</h5> 
                                    </div>
                                    <div class="col-lg-3 text-center" *ngIf="result">{{result.data.MarketplaceProject.project_size}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Grid Connection Date:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.grid_connection_date}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Inverter Location:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.inverter_location}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">System Monitoring:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.system_monitoring}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Modules:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.modules}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Inverters:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.inverter_name}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Number Of Roofs:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.number_of_rooves}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Building Type:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.building_type}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Renovation Planned:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.renovation_planned}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Shading:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.shading}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Working Model Budget:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.total_sale_price}}</div>

                                    <div class="col-lg-7 padding-left-0" style="margin-bottom: 15px;">
                                         <h5 class="media-heading view-link">Important Project Notes:</h5> 
                                    </div>
                                    <div class="col-lg-5 text-center" *ngIf="result">{{result.data.MarketplaceProject.comments}}</div>


                                    
                                </div>
                            </div>
                        </div>
                    
                </div>
                
            </div>
        </div>
        <!-- End C&I solar projects panel -->



           

           
            
        </div>
	</div>


