

<toaster-container></toaster-container>
<!--<homemenu *ngIf="isHomePage()"></homemenu>
<homebanner *ngIf="isHomePage()"></homebanner>
<homefeature *ngIf="isHomePage()"></homefeature>
<homeclient *ngIf="isHomePage()"></homeclient>
<homecustomer *ngIf="isHomePage()"></homecustomer>-->
<!--<homefooter *ngIf="isHomePage()"></homefooter>-->

<!--<registerheader></registerheader>-->
<!--<div *ngIf="loading == true" class="loader">Loading..</div>-->
<router-outlet></router-outlet>
<!--<homefooter *ngIf="isHomePage()"></homefooter>-->





