<nav class="nav-menu  hide-on-med-and-down">
    <div class="nav-wrapper black">
    	<ul class="center-align ">
        	<li><a href="/home" class="active">Home</a></li>
			<li><a href="/download" class=" ">Download</a></li>
			<li><a href="/method" class=" ">Method</a></li>
			<li><a href="/marketplace" class=" ">Marketplace</a></li>
			<li><a href="/news" class=" ">News</a></li>
			<li><a href="/company" class=" ">Company</a></li>
			<li><a href="http://www.solaroriginator.com" class="" target="_blank">Blog</a></li>
        </ul>
    </div>
</nav>