<style>
#logoImg1 {
    max-width: 50%;
    
}
</style>
<nav class="navbar navbar-default" role="navigation" id="header_navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
    <a href="/homes" class="navbar-brand"><img src="./assets/img/SLogoTr.png" alt="" class="img-responsive" id="logoImg1"></a>    </div>
    <div class="en_box">
    
    <p class="login_text">
            </p>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse col-sm-6 nav_box" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li>
        <a href="/homes">Home</a>       </li>
        
                <li class="active">
            <a href="/Business/signup">List your business</a>       </li>
        
        <li><a href="javascript:void(0)" class="userLoginModal mainLogin" data-href="/users/login">Login</a></li><li>   </li></ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container -->  <div class="main_login" style="display: none"></div>
</nav>