<section class="banner">
    <section class="container">
        <section class="left-content"> 
        
            <h2>Need more commercial solar projects in your pipeline? <span class="block"><font class="peach">We can help.</font> </span></h2>
            <p>Our team has been selling commercial solar projects for well over a decade, </p>
            <p class="font-s18">and have mastered a 'top-of-the-funnel' solution that we want to share with you.</p>
            <section class="banner-btn">
                <a href="#"><img src="../../../../assets/img/Home-User/app-icon.png" class="img-responsive" alt=""></a>
                <a href="#"><img src="../../../../assets/img/Home-User/google-icon.png" class="img-responsive" alt=""></a>
            </section>
        </section>
        <section class="right-content col-md-5 col-sm-5 hidden-xs">
            <img class="responsive" src="./assets/img/10.png" alt="">
        </section>
    </section>
</section>