<style>
.slide{
    float: left;
    list-style: none;
    position: relative;
    width: 160px;
    margin-right: 20px;

}
.owl-carousel .owl-item img {
    height:auto;
    width:100%;
    display: block;
}

.owl-carousel .item {
    margin:0px;
}
.active{
    width:100px;
}
</style>
        <section class="clients text-center">
            <section class="container">
                <h2 class="title padtop40 padbtm40">We have a lot of <font class="bold-it">Happy</font> clients</h2>
               <!-- <div class="bx-wrapper" style="max-width: 1060px; margin: 0px auto;">
                    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 100px;">
                        <div class="slider1" style="width: 1415%; position: relative; transition-duration: 0s; transform: translate3d(-1080px, 0px, 0px);">
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-1.png" alt=""></div>
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-2.png" alt=""></div>
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-3.png" alt=""></div>
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-4.png" alt=""></div>
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-5.png" alt=""></div>
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-6.png" alt=""></div>
                            <div class="slide"><img src="./assets/img/Home-User/client-1.png" alt=""></div>
                            <div class="slide"><img src="./assets/img/Home-User/client-2.png" alt=""></div>
                            <div class="slide"><img src="./assets/img/Home-User/client-3.png" alt=""></div>
                            <div class="slide"><img src="./assets/img/Home-User/client-4.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-5.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-6.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-1.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-2.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-3.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-4.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-5.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-6.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-1.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-2.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-3.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-4.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-5.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-6.png" alt=""></div>
                            </div></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div></div>-->



                        <owl-carousel [options]="{ navigation: true,  
                                                   rewindNav : true, 
                                                   pagination:true, 
                                                   loop:true,
                                                   margin:10, 
                                                   autoplay:true,
                                                   autoplayTimeout:2000,
                                                   autoplayHoverPause:true, 
                                                   autoWidth:true
                                                }">
                            <div  *ngFor="let img of images; let i=index">
                                <a href="#"><img src="{{baseUrl}}{{client}}{{i+1}}.png" style="width: 200px;"/></a>
                            </div>
                        </owl-carousel>

 <!--<owl-carousel [options]=" {dots: false, navigation: false, slideBy : 2 , responsive: { '0': { items: 1 }, '680': { items: 2 }, '780': { items: 3}, '1100': { items: 5} } } " [carouselClasses]="[ 'owl-theme', 'row', 'sliding'] ">
                            <div class="item text-center ">
                                <a class="nav-link " [routerLink]="[ '/note/1'] " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{ exact: true } ">
                         Note <span>4.0</span></a>
                            </div>
                            <div class="item text-center ">
                                <a class="nav-link " [routerLink]="[ '/note/1/discussion'] " [routerLinkActive]="[ 'active'] ">
                        Discussion <span>122</span></a>
                            </div>
                            <div class="item text-center ">
                                <a class="nav-link " [routerLink]="[ '/note/1/revision'] " [routerLinkActive]="[ 'active'] ">
                      Revisions <span>32</span></a>
                            </div>
                            <div class="item text-center ">
                                <a class="nav-link " [routerLink]="[ '/note/1/contributions'] " [routerLinkActive]="[ 'active'] ">
                        Contributors <span>82</span></a>
                            </div>
                            <div class="item text-center ">
                                <a class="nav-link " [routerLink]="[ '/note/1/related'] " [routerLinkActive]="[ 'active'] ">
                                Releated <span>32</span>
                            </a>
                            </div>
                             <div class="item text-center ">
                                <a class="nav-link " [routerLink]="[ '/note/1/related'] " [routerLinkActive]="[ 'active'] ">
                                Releated <span>42</span>
                            </a>
                            </div>

                        </owl-carousel>-->



        </section>
    </section>
    <section class="clearfix"></section>