<style>
.slide{
    float: left;
    list-style: none;
    position: relative;
    width: 160px;
    margin-right: 20px;

}
</style>
        <section class="clients text-center">
            <section class="container">
                <h2 class="title padtop40 padbtm40">We have a lot of <font class="bold-it">Happy</font> clients</h2>
               <div class="bx-wrapper" style="max-width: 1060px; margin: 0px auto;">
                    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 100px;">
                        <div class="slider1" style="width: 1415%; position: relative; transition-duration: 0s; transform: translate3d(-1080px, 0px, 0px);">
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-1.png" alt=""></div>
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-2.png" alt=""></div>
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-3.png" alt=""></div>
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-4.png" alt=""></div>
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-5.png" alt=""></div>
                            <div class="slide bx-clone"><img src="./assets/img/Home-User/client-6.png" alt=""></div>
                            <div class="slide"><img src="./assets/img/Home-User/client-1.png" alt=""></div>
                            <div class="slide"><img src="./assets/img/Home-User/client-2.png" alt=""></div>
                            <div class="slide"><img src="./assets/img/Home-User/client-3.png" alt=""></div>
                            <div class="slide"><img src="./assets/img/Home-User/client-4.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-5.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-6.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-1.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-2.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-3.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-4.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-5.png" alt=""></div>
                            <div class="slide" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-6.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-1.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-2.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-3.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-4.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-5.png" alt=""></div>
                            <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 160px; margin-right: 20px;"><img src="./assets/img/Home-User/client-6.png" alt=""></div>
                            </div></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div></div>






<!--<owl-carousel class="owl-carousel"[options]="{navigation: true,  rewindNav : true, items:5, autoplayHoverPause: true, URLhashListener:true}">
    <div class="owl-stage" *ngFor="let img of images; let i=index">
        <div class="owl-item">
            <a href="#"><img src="{{baseUrl}}{{client}}{{i+1}}.png"/></a>
        </div>
    </div>
</owl-carousel>-->



        </section>
    </section>
    <section class="clearfix"></section>