<section class="ourcustomer text-center padtop100 padbtm100"><!--our customer-->
    <section class="container">
        <h2 class="title padbtm40">What our <font class="bold-it">Customers</font> are saying</h2>
        
        <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        <h5>John Smith</h5>
        <div class="customer-pic">
        <div class="cus1"><img src="./assets/img/Home-User/cust1.jpg" alt=""></div>
        <div class="cus1"><img src="./assets/img/Home-User/cust3.jpg" alt=""></div>
        
        <div class="cus1"><img src="./assets/img/Home-User/cust5.jpg" alt=""></div>
        
        <div class="cus1"><img src="./assets/img/Home-User/cust2.jpg" alt=""></div>
        
        <div class="cus1"><img src="./assets/img/Home-User/cust4.jpg" alt=""></div>
        
        </div>
    </section>
</section>
<section class="clearfix"></section>